{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    
    
    <link rel="canonical" href="https://flowbite.com/marketing-ui/demo/services/services-3/">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://flowbite.com/marketing-ui/demo/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="https://flowbite.com/marketing-ui/demo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://flowbite.com/marketing-ui/demo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://flowbite.com/marketing-ui/demo/favicon-16x16.png">
    <link rel="icon" type="image/png" href="https://flowbite.com/marketing-ui/demo/favicon.ico">
    <link rel="manifest" href="https://flowbite.com/marketing-ui/demo/site.webmanifest">
    <link rel="mask-icon" href="https://flowbite.com/marketing-ui/demo/safari-pinned-tab.svg" color="#5bbad5">
    
    
    <style>
        .gradient-text {
            background-image: linear-gradient(
                90deg,
                hsl(240deg 100% 68%) 0%,
                hsl(276deg 81% 62%) 9%,
                hsl(304deg 71% 58%) 18%,
                hsl(321deg 100% 63%) 27%,
                hsl(331deg 100% 66%) 36%,
                hsl(344deg 100% 70%) 45%,
                hsl(1deg 100% 74%) 55%,
                hsl(18deg 100% 72%) 64%,
                hsl(29deg 100% 70%) 73%,
                hsl(38deg 100% 71%) 82%,
                hsl(46deg 100% 73%) 91%,
                hsl(55deg 98% 77%) 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Poppins', sans-serif;
        }
        body.bg-black {
            background-color: black;
            color: white;
        }
        .gradient-back {
            background-image: linear-gradient(
                90deg,
                hsl(240deg 70% 72%) 0%,
                hsl(276deg 62% 70%) 11%,
                hsl(311deg 66% 70%) 22%,
                hsl(331deg 100% 76%) 33%,
                hsl(345deg 100% 77%) 44%,
                hsl(4deg 100% 79%) 56%,
                hsl(21deg 100% 76%) 67%,
                hsl(33deg 100% 73%) 78%,
                hsl(43deg 100% 73%) 89%,
                hsl(55deg 90% 74%) 100%
            );
        }
        .gradient-black-and-blue{
            background-image: linear-gradient(
  210deg,
  hsl(0deg 0% 0%) 29%,
  hsl(217deg 100% 3%) 61%,
  hsl(217deg 100% 5%) 73%,
  hsl(216deg 100% 7%) 81%,
  hsl(216deg 100% 10%) 87%,
  hsl(218deg 100% 13%) 91%,
  hsl(217deg 100% 15%) 94%,
  hsl(217deg 100% 17%) 96%,
  hsl(217deg 100% 20%) 98%,
  hsl(217deg 100% 23%) 99%,
  hsl(217deg 100% 25%) 100%,
  hsl(217deg 100% 27%) 101%,
  hsl(217deg 100% 30%) 101%,
  hsl(217deg 100% 33%) 102%,
  hsl(217deg 100% 35%) 102%,
  hsl(217deg 100% 37%) 102%,
  hsl(217deg 100% 40%) 101%,
  hsl(217deg 100% 43%) 101%,
  hsl(217deg 100% 45%) 101%,
  hsl(217deg 100% 47%) 100%,
  hsl(217deg 100% 50%) 100%
);
        }
        
    </style>
    <title>{% block title %}Commit AI{% endblock %}</title>
</head>
<body class='gradient-black-and-blue'>


                <header class="mt-5">
                    <nav class="bg-black border-gray-200 px-4 lg:px-6 py-1 dark:bg-gray-800">
                        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                            <a href="{% url 'index' %}" class="flex items-center">
                                <span class="mr-3 text-2xl sm:text-4xl font-bold bg-gradient-to-r from-indigo-400 to-pink-600 bg-clip-text text-transparent">Commit AI</span>
                            </a>
                <div class="flex items-center lg:order-2">
                    {% if request.session.user %}
                        <!-- User Icon Button -->
                        <button id="user-icon-button" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 10a4 4 0 100-8 4 4 0 000 8zM10 12a6 6 0 00-6 6h2a4 4 0 018 0h2a6 6 0 00-6-6z" /></svg>
                        </button>
                        <!-- Slider Panel -->
                        <div id="user-slider" class="fixed top-0 right-0 w-80 h-full bg-white shadow-lg transform translate-x-full transition-transform duration-300 z-50">
                            <div class="relative p-6">
                                <button id="close-slider-button" class="absolute top-4 right-4 text-gray-700 hover:text-gray-900 focus:outline-none">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button>
                                <div class="mt-8">
                                    <h2 class="text-2xl font-semibold mb-4 text-gray-800">User Details</h2>
                                    <p class="text-gray-600">Name: {{ request.session.user.name }}</p>
                                    <p class="text-gray-600">Email: {{ request.session.user.email }}</p>
                                    <ul class="mt-6 space-y-2">
                                        <li><a href="{% url 'my_roadmaps' %}" class="block py-2 px-4 bg-gray-100 text-black hover:bg-gray-200 rounded">My Roadmaps</a></li>
                                        <li><a href="{% url 'priority' %}" class="block py-2 px-4 bg-gray-100 text-black hover:bg-gray-200 rounded">Habits</a></li>
                                    </ul>
                                    <form method="post" action="{% url 'logout_user' %}" class="mt-6">
                                        {% csrf_token %}
                                        <button class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800" type="submit">Logout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'user_login' %}" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Log in</a>
                        <a href="{% url 'signup' %}" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">Sign up</a>
                    {% endif %}
                    <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
                <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                        <li>
                            <a href="#" class="block py-2 pr-4 pl-3 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white" aria-current="page">Home</a>
                        </li>
                        
                        <li>
                            <a href="{% url 'products' %}" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">products</a>
                        </li>
                        
                        {% if request.session.user %}
                        <li>
                            <a href="{% url 'path_pro' %}" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">PathPro</a>
                        </li>
                        <li>
                            <a href="{% url 'habits_pro' %}" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">HabitPro</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Team</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Overlay for clicking outside the slider to close it -->
    <div id="overlay" class="fixed inset-0 bg-black opacity-50 hidden z-40"></div>
    {% block body %}{% endblock %}
    
    <footer class="gradient-black-and-blue w-full py-14">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="max-w-3xl mx-auto">
                <a href="#" class="flex justify-center">
                    <span class="mr-3 text-2xl sm:text-4xl font-bold bg-gradient-to-r from-indigo-400 to-pink-600 bg-clip-text text-transparent">Commit AI</span>
                </a>
                <div class="mt-10 flex items-center justify-center space-x-6">
                    <a href="#" class="transition duration-150 ease-in-out text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Facebook</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M22 12c0-5.522-4.477-10-10-10S2 6.478 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.988h-2.54v-2.89h2.54v-2.203c0-2.513 1.492-3.89 3.775-3.89 1.094 0 2.238.195 2.238.195v2.461h-1.261c-1.243 0-1.63.772-1.63 1.562v1.875h2.773l-.444 2.89h-2.329V22C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd"></path>
                        </svg>
                    </a>
                    <a href="#" class="transition duration-150 ease-in-out text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Twitter</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M8 19c7.18 0 11.1-5.928 11.1-11.067 0-.168 0-.335-.012-.502A7.962 7.962 0 0022 4.365a7.842 7.842 0 01-2.244.615A3.937 3.937 0 0021.448 3a7.881 7.881 0 01-2.5.953A3.93 3.93 0 0017 2c-2.18 0-3.94 1.757-3.94 3.926 0 .308.035.607.1.895A11.186 11.186 0 013 4.32a3.878 3.878 0 001.217 5.229A3.896 3.896 0 012.8 9.23v.05A3.92 3.92 0 005.918 13.1a3.886 3.886 0 01-1.777.067 3.928 3.928 0 003.674 2.707A7.872 7.872 0 012 17.523 11.154 11.154 0 008 19z"></path>
                        </svg>
                    </a>
                    <a href="#" class="transition duration-150 ease-in-out text-gray-400 hover:text-gray-500">
                        <span class="sr-only">GitHub</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M12 2a10 10 0 00-3.162 19.492c.5.092.682-.218.682-.484 0-.237-.009-.868-.014-1.703-2.782.602-3.369-1.34-3.369-1.34-.454-1.151-1.11-1.457-1.11-1.457-.909-.62.069-.607.069-.607 1.004.07 1.532 1.03 1.532 1.03.892 1.527 2.341 1.086 2.91.83.09-.647.35-1.086.635-1.337-2.221-.252-4.555-1.113-4.555-4.95 0-1.093.39-1.987 1.029-2.688-.103-.253-.446-1.27.098-2.646 0 0 .84-.27 2.75 1.026A9.532 9.532 0 0112 6.844c.85.004 1.705.115 2.504.336 1.91-1.296 2.75-1.026 2.75-1.026.545 1.376.202 2.393.1 2.646.641.701 1.027 1.595 1.027 2.688 0 3.847-2.337 4.696-4.566 4.942.36.311.678.926.678 1.867 0 1.348-.012 2.436-.012 2.768 0 .269.18.58.688.482A10 10 0 0012 2z" clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
                <p class="mt-10 text-center text-sm leading-6 text-gray-500">
                    © 2024 Commit AI. All rights reserved.
                </p>
            </div>
        </div>
    </footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const userIconButton = document.getElementById('user-icon-button');
        const userSlider = document.getElementById('user-slider');
        const closeSliderButton = document.getElementById('close-slider-button');
        const overlay = document.getElementById('overlay');

        function openSlider() {
            userSlider.classList.remove('translate-x-full');
            overlay.classList.remove('hidden');
        }

        function closeSlider() {
            userSlider.classList.add('translate-x-full');
            overlay.classList.add('hidden');
        }

        userIconButton.addEventListener('click', openSlider);
        closeSliderButton.addEventListener('click', closeSlider);
        overlay.addEventListener('click', closeSlider);
    });
</script>
</html>
