{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[Your Company Name] - Quiz</title>
    <link rel="stylesheet" href="{% static 'quiz.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="hero-content">
        <h2>Test Your Knowledge with Our Quiz</h2>
      </div>
    </header>

    <section id="quiz" class="quiz-overview">
      <h2>Quiz</h2>
      <form id="quizForm" action="{% url 'quiz_view' %}">
        {{ quiz_html|safe }}
        <input type="hidden" name="answer_key" value="{{ answer_key }}">
        <button type="submit" class="cta-button">Submit Quiz</button>
      </form>
    </section>

    <footer class="footer">
      <p>&copy; 2024 [Your Company Name]. All rights reserved.</p>
    </footer>

    <script>
      document.getElementById('quizForm').addEventListener('submit', function(event) {
          event.preventDefault();
          const form = event.target;
          const formData = new FormData(form);
          const userAnswers = [];

          // Initialize userAnswers with empty strings for each question
          const totalQuestions = form.querySelectorAll('.question-card').length;
          for (let i = 0; i < 10; i++) {
              userAnswers.push('');
          }

          // Update userAnswers with selected values from the form data
          for (let [name, value] of formData.entries()) {
            if (name !== "answer_key") {
              const questionIndex = parseInt(name.slice(1)) - 1;
              userAnswers[questionIndex] = value;
            }
          }

          // Parse answerKey from JSON string to array
          const answerKey = JSON.parse(formData.get('answer_key'));
          let score = 0;

          // Calculate the score
          answerKey.forEach((correctAnswer, index) => {
              if (userAnswers[index] === correctAnswer) {
                  score += 1;
              }
          });
          // Display the score
          if (score >= 7) {
            alert(`Congratulations! You have completed the module. Your score is: ${score}/10`);
          } else {
            alert(`Try again, you haven't passed. Your score is: ${score}/10`);
          }
      });
    </script>
  </body>
</html>
